springfox:
  api:
    env: dev
    group:  lazycathome
    title:  lazy
    desc:   cat home
    version:  v1.0
    termsOfServiceUrl: https://www.github.com/lazycathome
    contact:
      name: liujiangtao
      url:  https://www.github.com/lazycathome
      email: liujt2009@gmail.com
    license:  Apache License 2.0
    licenseUrl: https://www.apache.org/licenses/LICENSE-2.0.html
